/*
 * CSS is truly a harsh mistress.
 */
:root {
    --bg: #434343;
    --content-bg: #fefefe;
    --fg: #454545;
    --navbar-bg: #333;
    --navbar-fg: #e1e1e1;
    --navbar-active-bg: #9d83cc;
    --navbar-hover-bg: #555;
    --dropdown-bg: #f0f0f0;
    --dropdown-hover-bg: #ddd;
}

*, html {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%
}

html {
    background-color: var(--bg);
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;
    color: var(--fg);
    margin: 0 auto;
    width: 100%;
}

.content {
    width: 800px;
    max-width: 100%;
    height: 100%;
    color: var(--fg);
    background-color: var(--content-bg);
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.54);
}

.credit {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--fg);
}

h2 {
    font-size: 1.25em;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.text-area {
    line-height: 1.4;
    padding: 4em;
    font-size: 1em;
}

.navbar {
    overflow: hidden;
    background-color: var(--navbar-bg);
}

.navbar a {
    float: left;
    display: block;
    color: var(--navbar-fg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.05em;
}

.navbar .icon {
    display: none;
    font-size: 0.95em;
}

.dropdown {
    float: left;
    overflow: hidden;
    z-index: 10;
}

.dropdown .dropbtn {
    font-size: 1.05em;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--content-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--navbar-hover-bg);
    color: white;
}

.active, a.active {
    background-color: var(--navbar-active-bg);
    color: white;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-hover-bg);
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.product-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.product {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.product-title {
    font-size: 16px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    padding: 5px 0;
}


.product-price {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px 0;
}


.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding-bottom: 10px;
    height: 75%;
}

.product-image img {
    width: 75%;
    height: auto;
}

.product-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-image-big {
    flex-grow: 1;
    flex-basis: 0;
}

.product-image-big img {
    width: 100%;
    height: auto;
}

.product-info {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
}

.product-info-listing {
    flex-grow: 1;
}

.buy-button {
    flex-grow: 1;
}

.product-info-name {
    font-size: 20px;
    flex-grow: 1;
}

.product-info-price {
    font-size: 17px;
    flex-grow: 1;
}

.product-info-description {
    font-size: 15px;
    flex-grow: 1;
    padding-top: 25px;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .text-area {
        padding: 1.5em;
    }

    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--navbar-bg);
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
